datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 100%;
    text-orientation:upright;
  }
  
  option {
    padding: 0;
  }

  .txt-limit1 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .txt-limit2 {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* 任意の行数を指定 */
  }
  
  .txt-limit3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* 任意の行数を指定 */
  }

  .fa-chevron-circle-down{
    color:#d6d6d6;
  }

  .fa-chevron-circle-down:hover{
    color:#3ed652;
  }